name: kb_dart
description: Movie stats application.

# The following defines the version and build number for your application.
# A version number is three numbers separated by dots, like 1.2.43
# followed by an optional build number separated by a +.
# Both the version and the builder number may be overridden in flutter
# build by specifying --build-name and --build-number, respectively.
# In Android, build-name is used as versionName while build-number used as versionCode.
# Read more about Android versioning at https://developer.android.com/studio/publish/versioning
# In iOS, build-name is used as CFBundleShortVersionString while build-number used as CFBundleVersion.
# Read more about iOS versioning at
# https://developer.apple.com/library/archive/documentation/General/Reference/InfoPlistKeyReference/Articles/CoreFoundationKeys.html
version: 1.0.0+1

environment:
  sdk: ">=2.7.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
  shared_preferences: ^2.0.13
  html: ^0.15.0
  dio: ^4.0.4
  provider: ^6.0.2
  random_string: ^2.3.1
  pull_to_refresh: ^2.0.0
  timeago: ^3.2.2
  loading_indicator: ^3.0.2
  flutter_tableview: ^1.0.1
  flutter_easyrefresh: ^2.2.1
  #flutter_layout_grid: ^1.0.3
  flutter_staggered_grid_view: ^0.6.1
  intl: ^0.17.0
  side_header_list_view: ^1.0.0-nullsafety.0
  
  get: ^4.6.1
  sqflite: ^2.0.2
  file_picker: ^4.3.3

  #firebase
  duration: ^3.0.8
  firebase_core: ^1.12.0
  firebase_auth: ^3.3.7
  cloud_firestore: ^3.1.8
  firebase_analytics: ^9.1.0
  firebase_remote_config: ^2.0.0
  google_sign_in: ^5.2.3

  # The following adds the Cupertino Icons font to your application.
  # Use with the CupertinoIcons class for iOS style icons.
  cupertino_icons: ^1.0.4
  
  flutter_slidable: ^1.2.0
  device_info_plus: ^3.2.1
  cached_network_image: ^3.2.0
  uuid: ^3.0.5
  ulid: ^2.0.0
  rxdart: ^0.27.3
  auto_size_text: ^3.0.0
  carousel_slider: ^4.0.0
  font_awesome_flutter: ^9.2.0
  google_fonts: ^2.3.1

dev_dependencies:
  flutter_test:
    sdk: flutter


# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:

  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true

  # To add assets to your application, add an assets section, like this:
  # assets:
  #   - images/a_dot_burr.jpeg
  #   - images/a_dot_ham.jpeg

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware.

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/assets-and-images/#from-packages

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/custom-fonts/#from-packages
